@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Merriweather:wght@900&family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: "auto";
  background-color: #e8e8e8;
  overflow-x: hidden;
  overflow-y: scroll;
}
